$min-height: 70vh;

section {
  position: sticky;
  top: 0;
  min-height: 100vh;
  height: 100vh;
  background-color: #fff;
  // background-color: currentColor;
  // border-top: 1px solid rgba(0 ,0 ,0 ,0.1);  // box-shadow: inset -2px 0 0 black;
  box-shadow: 0 -2rem 2rem rgba(0, 0, 0, 0.03);

  @media (min-width: 992px) {
    min-height: $min-height;
    height: $min-height;
  }

  &.item {

    a {
      // Styles added to src/layout/global.css because of
      // unhandled transpiling issues 
      background: -webkit-linear-gradient(currentColor, #000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      // @apply .font-thin;
    }

    h1, h2, h3, h4, h5 {
      // border-bottom: 2px solid currentColor;
    }

    .gatsby-image-wrapper:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: currentColor;
      mix-blend-mode: screen;
    }

    // img {
    //   mix-blend-mode: multiply;

      
    // }
  }

  &.intro,
  &.details {

    box-shadow: unset;
    
    p {
      text-align: justify;
      hyphens: auto;
      hyphenate-limit-chars: 6 3 3;
      hyphenate-limit-lines: 2;   
      hyphenate-limit-last: always;
      hyphenate-limit-zone: 8%;
      line-height: 125%;
      margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5 {
      margin: 0.8rem 0 0.3rem;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }

  &.intro {
    height: 100%;
    position: unset;
    // background: black;

    // img {
    //   max-height: 6rem;
    // }
  }

  &.details {
    height: 100%;
    position: unset;
    border: unset;

    img {
      max-height: 6rem;
    }
  }

  &.index {
    height: 100vh;
    position: unset;

    h2 {
      mix-blend-mode: overlay;
      text-shadow: 0 0 3rem white;
    }

    .gatsby-image-wrapper:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #18435A;
      mix-blend-mode: screen;
    }
  }

  .columns {
    @media (min-width: 768px) {
      column-count: 2;
      column-gap: 2rem;
    }

    @media (min-width: 992px) {
      column-count: 3;
    }
  }

  ul {
    li {
      @apply .leading-normal;
    }
  }
}