$min-height: 70vh;

section {
  position: sticky;
  top: 0;
  // min-height: 100vh;
  height: 100vh;
  background-color: #fff;
  // background-color: currentColor;
  // border-top: 1px solid rgba(0 ,0 ,0 ,0.1);  // box-shadow: inset -2px 0 0 black;
  box-shadow: 0 -2rem 2rem rgba(0, 0, 0, 0.03);

  @media (min-width: 992px) {
    height: $min-height;
  }

  &.item {

    max-height: 36rem;

    a {
      // Styles added to src/layout/global.css because of
      // unhandled transpiling issues 
      // background: -webkit-linear-gradient(currentColor, #000);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      transition: all 360ms;

      &:hover {
        -webkit-text-fill-color: unset;
        color: black;

        h1, h2, h3, h4, h5 {
          // box-shadow: inset 0 -3px 0 #fff, inset 0 -5px 0 #000;
          @apply .text-black;
        }

        p {
          @apply .text-black;
        }

        button {
          @apply .text-black .border-black;
        }

        .gatsby-image-wrapper:after {
          @apply .bg-black;
        }
      }
    }

    p {
      transition: all 360ms;
      @apply .text-grey-darker;
    }

    h1, h2, h3, h4, h5 {
      color: currentColor;
      display: inline-block;
      transition: all 360ms;
    }

    button {
      border-color: currentColor;
      color: currentColor;
      transition: all 360ms;
    }

    @media (max-width: 991px) {
      .image {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 0;
        width: 30%;
      }
    }

    .gatsby-image-wrapper:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: currentColor;
      mix-blend-mode: screen;
      transition: all 360ms;
    }
  }

  &.intro,
  &.details {

    box-shadow: unset;
    
    p {
      text-align: justify;
      hyphens: auto;
      hyphenate-limit-chars: 6 3 3;
      hyphenate-limit-lines: 2;   
      hyphenate-limit-last: always;
      hyphenate-limit-zone: 8%;
      line-height: 125%;
      margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5 {
      margin: 0.8rem 0 0.3rem;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }

  &.intro {
    height: 100%;
    position: unset;
  }

  &.details {
    height: 100%;
    position: unset;
    border: unset;

    img {
      max-height: 6rem;
    }

    p {
      &#highlight {
        padding: 1rem 1.1rem;
        margin: 0 -1.1rem 1rem;

        @apply .rounded .inline-block;
      }

      .question {
        @apply .mb-4 .text-xl .tracking-tight .font-thin;
      }
    }
  }

  &.index {
    height: 100vh;
    position: unset;

    h2 {
      // mix-blend-mode: overlay;
      text-shadow: 0 0 2rem black, 0 0 0.1rem black;
      @apply .text-white;
    }
    
    p {
      // mix-blend-mode: overlay;
      text-shadow: 0 1px black,  0 3px 0.4rem rgba(0,0,0,0.4);
    }

    .gatsby-image-wrapper:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #18435A;
      mix-blend-mode: screen;
    }
  }

  .columns {
    @media (min-width: 768px) {
      column-count: 2;
      column-gap: 2rem;
    }

    @media (min-width: 992px) {
      column-count: 3;
    }
  }

  ul {
    li {
      @apply .leading-normal;
    }
  }
}