$min-height: 100vh;

section {
  @apply .overflow-hidden;

  .teaser {
    @apply .leading-normal .font-serif .font-light .text-xl .w-4/5 .mb-4 .text-black;
  }

  &.item {
    box-shadow: 0 -2rem 2rem rgba(0, 0, 0, 0.03);
    max-height: 50rem;

    @apply .bg-white .sticky .pin-t .h-screen .flex;
  
    @screen lg {
      height: $min-height;
    }

    button {
      @apply .text-black .border-black .bg-transparent .mt-6 .py-2 .px-4 .border .rounded;
    }

    h2 {
      @apply .text-5xl .mb-1 .w-2/3;
    }

    p {
      &.excerpt {
        // @apply .leading-normal .font-serif .font-thin;
        @apply .leading-normal .text-justify;

        @screen lg {
          // @apply .w-5/6;
        }
      }
    }

    a {
      transition: all 360ms;

      @apply .block .relative;

      @screen md {
        @apply .flex;
      }

      &:hover {
        @apply .text-black;

        h1, h2, h3, h4, h5 {
          @apply .text-black;
        }

        p {
          @apply .text-black;
        }

        .gatsby-image-wrapper:after {
          @apply .bg-black;
        }
      }
    }

    p {
      transition: all 360ms;
      @apply .text-black;
    }

    h1, h2, h3, h4, h5 {
      color: currentColor;
      display: inline-block;
      transition: all 360ms;
    }

    button {
      border-color: currentColor;
      color: currentColor;
      transition: all 360ms;
    }

    .container {
      @apply .flex;
    }

    .gatsby-image-wrapper:after {
      // @screen lg {
        content: "";
        background: currentColor;
        mix-blend-mode: screen; 
        transition: all 360ms;

        @apply .absolute .pin-t .pin-l .w-full .h-full;
      // }
    }
  }

  &.item,
  &.overview,
  &.details {
    @apply .py-20 .px-4;

    .container {
      @apply .relative;
    }

    .content {
      @apply .w-full .pt-12;

      @screen md {
        @apply .w-2/3;
      }
    }

    .image {
      top: 1rem;

      @apply .absolute .pin-r .pb-8 .w-28 .-mt-12;

      @screen md {
        @apply .pb-0 .pl-8 .mt-0 .w-1/3;
      }
    }
  }

  &.overview,
  &.details {

    box-shadow: unset;
    
    p {
      hyphens: auto;
      hyphenate-limit-chars: 6 3 3;
      hyphenate-limit-lines: 2;   
      hyphenate-limit-last: always;
      hyphenate-limit-zone: 8%;

      @apply .text-justify .mb-4 .leading-normal;
    }

    h1 {
      @apply .text-5xl .mb-1 .w-2/3;
    }

    h2, h3, h4, h5 {
      @apply .mb-1;
    }

    .container {
      @apply .mb-20;
    }
  }

  &.details {
    @apply .h-auto;

    .highlight {

      @apply .rounded .inline-block .p-3 .-mx-3 .mb-3;

      p {
        margin-block-end: unset;  
      }

      .paragraph-anchor {
      }

      .question {
        @apply .mb-4 .text-xl .tracking-tight .font-thin .p-0;

        @screen lg {
          left: 66.666667%;

          @apply .absolute .w-1/3 .pl-6 .pr-3;
        }
      }
    }

    .source {
      @apply .italic .text-sm .border-t-2 .pt-3 .text-grey-darker;
    }
  }

  &.index {
    height: 100vh;
    position: unset;

    @apply .flex .items-center .bg-center .bg-cover;

    h1 {
      text-shadow: 0 0 2rem black, 0 0 0.1rem black;
      @apply .text-white .tracking-tight .mb-4;

      @screen md {
        @apply .text-7xl;
      }
    }
    
    p {
      text-shadow: 0 1px black,  0 3px 0.4rem rgba(0,0,0,0.4);

      @apply .leading-normal .text-white;

      @screen md {
        @apply .text-3xl;
      }
    }

    .container {
      @apply .mb-20;

      .outer {
        @apply .mb-6 .pt-20 .flex .justify-center;
      }
      
      .inner {
        @apply .w-2/3;

        @screen md {
          @apply .w-5/6;
        }

        p {
          @screen lg {
            @apply .w-3/5;
          }
        }
      }
    }
  }

  ul {
    li {
      @apply .leading-normal;
    }
  }
}