* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
}

nav,
main > header > nav,
main > footer > nav,
main > section,
article > header,
article > section,
article > footer {
  display: grid;
  max-width: 90rem;
  margin: 0 auto;
  grid-auto-flow: column;
  justify-content: start;
  grid-column-gap: 1rem;
}