@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  @apply .text-black;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  // @apply .tracking-light;
  font-family: 'Roboto Condensed', sans-serif;
}

figure {
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
}
