@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Serif:200,400,500');

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  @apply .font-sans .leading-normal .font-light .text-base;
}

a {
  text-decoration: none;
  @apply .text-black;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  @apply .font-serif .tracking-normal .font-hairline .leading-tight;
}

figure {
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
}

blockquote {
  border-left: 4px solid;
  @apply .text-grey-darkest .italic .my-8 .pl-3 .border-grey-lighter
}

article {

  &.details {
    @apply .mx-auto .mb-6 .py-20 .px-4 .relative;

    @screen lg {
      @apply .px-2;
    }

    header {

      h1 {
        @apply .text-5xl .w-2/3 .mb-4;
      }
    }
  }
}

.katex * {
  @apply .text-base;
}